extends layout

block script 
    script(src="/javascripts/createItemTable.js", item = item) 

block css 
    link(rel="stylesheet", href="/stylesheets/item_viewer.css")

block content 
    .item-wrapper 
        .normal
            p1 Craftable items/components table:
            div(class="item normalItem")
                //- .item_row
                    //- .item_block
                        //- each i in item 
                        //-     if(i._id == 1)
                        //-         img(src=i.url, alt=i.name)
                        //-         .info 
                        //-             p=i.name 
                        //-             p=i.description
        
        .armory 
            p1 Ornn Armory: 
            div(class="item armoryItem ")

        .radiant 
            p1 Radiant Items: 
            div(class="item radiantItem")

        .shimmerscale
            p1 Shimmerscale Item: 
            div(class="item shimmerscaleItem ")

        


        