doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block css 
  body
  .site_header
    a(href="/"): img(src="/images/logo.png", alt="logo")
    .nav
      a(href="/page/champion", class="link") Champions
      a(href="/page/trait",class="link") Traits
      a(href="/page/item",class="link") Items
  block content

  .footer 
    p hello there

  block script
