extends layout

block script 

block css 
    link(rel="stylesheet", href="/stylesheets/shopUI.css")
    link(rel="stylesheet", href="/stylesheets/rerollSim.css")

block content 
    .body
        .wrapper 
            .board 

            .shop
                .upper 
                    .level 
                        //- .level_num 
                        //- .slider 
                        
                    .rollChance 
                        .1cost 
                        .2cost 
                        .3cost 
                        .4cost 
                        .5cost 
                    .gold 

                    .lock
                        
                .lower 
                    .border

                    .action 
                        .XP 
                        .refresh 

                    .buyChampion
                        .block_champion
                        .block_champion
                        .block_champion
                        .block_champion
                        .block_champion

