extends layout

block script 
    script(src="/javascripts/rerollSim.js", champions = champion) 

block css 
    link(rel="stylesheet", href="/stylesheets/shopUI.css")
    link(rel="stylesheet", href="/stylesheets/rerollSim.css")
    link(rel="stylesheet", href="/stylesheets/championBlock.css")
    

block content 
    .body
        .wrapper 
            .board 

            .shop
                .upper 
                    .level 
                        .level_num 
                            p1 Lvl. 1 
                        .slider 
                            input(type="range", min="1", max="11", class="slider")
                        
                    .rollChance 
                        .rollChanceWrapper
                            .chance-1 
                                img(src="../images/cost gem/1chance.png")
                                p1 45%
                            .chance-2
                                img(src="../images/cost gem/2chance.png")
                                p1 33%
                            .chance-3
                                img(src="../images/cost gem/3chance.png")
                                p1 20%
                            .chance-4 
                                img(src="../images/cost gem/4chance.png")
                                p1 2%
                            .chance-5
                                img(src="../images/cost gem/5chance.png")
                                p1 0%
                    .gold 
                        img(src="../images/UI_asset/goldIcon.png")
                        p1 50
                    .lock
                        
                .lower 
                    .border

                    .action 
                        .XP 
                            img(src="../images/UI_asset/xpButton.png")
                            p(class="top") Buy XP
                            .text 
                                img(src="../images/UI_asset/goldIcon.png")
                                p1 4
                        .refresh 
                            img(src="../images/UI_asset/rerollButton.png")
                            p(class="top") Refresh
                            .text 
                                img(src="../images/UI_asset/goldIcon.png")
                                p1 2

                    .buyChampion
                        each _ in Array(5)
                            .block_champion
                                .border
                                .gem
                                    img(src="../images/cost gem/5cost.png")

                                .outline
                                    .portrait
                                        .trait 
                                            .traitIMG
                                                img(src="../images/UI_asset/traitBG.png", class="bg")
                                                img(src="../images/SET7/traits/Bard.svg", class="icon")
                                            p Bard 
                                        .trait 
                                            .traitIMG
                                                img(src="../images/UI_asset/traitBG.png", class="bg")
                                                img(src="../images/SET7/traits/Bard.svg", class="icon")
                                            p Bard 
                                        .trait 
                                            .traitIMG
                                                img(src="../images/UI_asset/traitBG.png", class="bg")
                                                img(src="../images/SET7/traits/Bard.svg", class="icon")
                                            p Bard 
                                        .trait 
                                            .traitIMG
                                                img(src="../images/UI_asset/traitBG.png", class="bg")
                                                img(src="../images/SET7/traits/Bard.svg", class="icon")
                                            p Bard 
                                    .description 
                                        .name 
                                            p Bard 
                                        .cost 
                                            img(src="../images/UI_asset/goldIcon.png")
                                            p 5
