.cost-1{
    background: rgb(21,36,49);
    background: linear-gradient(21deg, rgba(21,36,49,1) 33%, rgba(38,48,57,1) 70%); 
    border-image: linear-gradient(21deg, rgba(38,63,82,1) 29%, rgba(60,79,93,1) 83%);
    border-image-slice: 1;
}

.cost-2{
    background: rgb(19,53,43);
    background: linear-gradient(21deg, rgba(19,53,43,1) 33%, rgb(13, 71, 35) 70%); 
    border-image: linear-gradient(21deg, rgba(8,69,33,1) 29%, rgba(10,108,46,1) 83%);
    border-image-slice: 1;
}

.cost-3{
    background: rgb(27,32,71);
    background: linear-gradient(21deg, rgba(27,32,71,1) 38%, rgba(39,98,146,1) 78%); 
    border-image: linear-gradient(21deg, rgba(16,83,118,1) 29%, rgba(16,195,239,1) 83%);
    border-image-slice: 1;
}

.cost-4, .cost-8{
    background: rgb(71,13,73);
    background: linear-gradient(21deg, rgba(71,13,73,1) 64%, rgba(170,6,126,1) 91%); 
    border-image: linear-gradient(21deg, rgba(115,24,115,1) 29%, rgba(222,48,222,1) 83%);
    border-image-slice: 1;
}

.cost-5, .cost-10{
    background: rgb(83,59,14);
    background: linear-gradient(21deg, rgba(83,59,14,1) 0%, rgba(128,89,15,1) 54%, rgba(214,148,24,1) 70%, rgba(216,119,8,1) 93%); 
    border-image: linear-gradient(21deg, rgba(159,118,35,1) 15%, rgba(255,195,57,1) 93%);
    border-image-slice: 1;
}

.bordercost-1{
    border-color: #233b4f;
}
.bordercost-2{
    border-color: #084d29;

}
.bordercost-3{
    border-color: #105778;

}
.bordercost-4, .bordercost-8{
    border-color: #731873;

}
.bordercost-5, .bordercost-10{
    border-color: #bd7518;
}