.statistic {
	display: flex;
	flex-direction: column;

    max-height: 100%;
}

.statistic > div {
	position: relative;
	height: 25%;
	padding: 0.5rem;
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	background-color: aliceblue;
}

.statistic .correct::after,
.statistic .incorrect::after,
.statistic .miss::after,
.statistic .reroll::after {
	content: " ";
	position: absolute;
	height: 3px;
	width: 90%;
	left: 5%;
	bottom: 0px;
	background-color: black;
    border-radius: 5px;
}

.correct p1{
    color: green;
}

.incorrect p1{
    color: rgb(182, 182, 24);
}

.miss p1{
    color: red;
}

.statistic > div > p2 {
	font-size: 2rem;
}

.statistic button {
	height: 100%;
	width: 100%;
	background-color: rgb(95, 158, 160);
}

.statistic button:hover {
	filter: brightness(130%);
}

.statistic button:active {
	filter: brightness(80%);
}


.interface{
    padding: 5px;
    display: grid;
    gap: 5px;
    grid-template-rows: 10% 1fr;
    max-height: 100%;
}

.interface .search_bar{
    border: 2px solid black;

    display: grid;
    grid-template-columns: 1fr 10% 10% 10%;
    gap: 0.5rem;
    padding: 5px;
}

.textBar{
    position: relative;
}

.textBar input{
    width: 100%;
    height: 100%;
    padding: 0;
    box-sizing: border-box;
}

.setCost .cost{
    width: 100%;
    height: 100%;
}

.setTrait .trait{
    width: 100%;
    height: 100%;
}

.reset .reset_button{
    border: 1px solid #8f8f9d;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: #e9e9ed;
}

.reset .reset_button:hover{
    filter: brightness(85%);
}

.interface .champ_container{
    border: 2px solid black;
    overflow-y: scroll;
    height: 100%;
    max-height: 100%;

    /* hide scroll bar, it looks ugly */
    -ms-overflow-style: none;  
    scrollbar-width: none;

    display: grid;
    grid-template: 1fr 100px / 1fr;
    gap: 10px;
}

.interface .champ_container::-webkit-scrollbar, .champ_container .select{
    display: hidden;
}

.champ_container .select{
    overflow-y: scroll;

    /* hide scroll bar, it looks ugly */
    -ms-overflow-style: none;  
    scrollbar-width: none;
}

.champ_container .selected{
    border-top: 2px solid black;
    box-sizing: border-box;

    overflow: auto;

    display: flex;
    flex: wrap;
}

.selected .block{
    min-width: 50px;
    max-width: 50px;
}

.block:hover{
    cursor: pointer;
}


