.champion {
	padding: 0 10% 0 10%;
	display: flex;
	flex-direction: row;
	margin-bottom: 10vh;
}

.champ_selector {
	height: 100vh;
	width: 30%;
	border: 1px solid black;
	background-color: #dae8e395;
	margin: 0 5px 0 0;

	display: flex;
	flex-direction: column;
}

.champ_selector .search_bar {
	min-height: 3rem;
	display: flex;
	align-items: center;
	margin: 3px 3px 3px 3px;
	padding-left: 10px;

	border: 1px solid black;
}

.champ_selector .search_bar select {
	border: 1px solid black;
}

.champ_selector .search_bar input[type="text"] {
	height: 1rem;
	width: 70%;
	margin-right: 5%;
}

.champ_selector .champ_container {
	margin: 3px;
	overflow: scroll;
	border: 1px solid black;
	height: 100%;
	padding: 4px;
	gap: 4px;
	row-gap: 4px;
}

.block {
	position: relative;
	font-size: 10px;
	width: 50px;
	height: 65px;
	border-width: 3px;
	border-style: solid;
	border-radius: 2px;
	text-decoration: none;

	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: left;

	margin: 4px;
}

.block span {
	font-size: 0.5rem;
	position: absolute;
	right: 0;
	color: white;
	text-shadow: -1px 0 2px #000, 0 1px 2px #000, 1px 0 2px #000,
		0 -1px 2px #000;
}

.block img {
	height: 50px;
}

.block p1 {
	font-weight: bold;
	color: black;
}

#addNew{
	text-align: center;
	font-size: 50px;
}

.champ_detail{
	width: 70%;
}

