.champ_container .cost-1{
    border-color: #808080;
    background-color: #c8c7c7;
}
.champ_container .cost-2{
    border-color: #11b288;
    background-color: rgb(79, 228, 188);
}
.champ_container .cost-3{
    border-color: #207ac7;
    background-color: #258fed;
}
.champ_container .cost-4, .champ_container .cost-8{
    border-color: #c440da;
    background-color: #bf70cd;
}
.champ_container .cost-5, .champ_container .cost-10{
    border-color: #ffb93b;
    background-color: #f8dfb1;
}
