.body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
}

.wrapper{
    position: relative;

    height: 90vh;
    width: 1365px;
    min-width: 1365px;
    background-color: #5a5d64;
    margin-bottom: 50px;
}

.board{
    position: relative;
    border: 1px solid black;
    height: 68%;
    width: 100%;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: 1fr;
}

.statistic{
    border: 3px solid blue;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.interface{
    border: 3px solid yellow;
    box-sizing: border-box;
}

.shop{
    height: 226px;
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}