.upper{
    height: 55px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    background-color: #5a5d64;
}

.level{
    width: 234px;
    height: 54px;
    background-image: url("../images/UI_asset/levelBG.png");
    background-repeat: no-repeat;

    position: relative;
    z-index: 2;
}

.level:after{
    content: '';
    width: 228px;
    height: 2px;
    background-color: rgb(38, 35, 24);
    position: absolute;
    bottom: 0px;
    left: 4px;
}

.level .level_num{
    color: white;
    font-weight: bolder;
    font-size: larger;

    position: absolute;
    top: 10px;
    left: 15px;
}

.level .level_select{
    position: absolute;
    bottom: 6px;
    left: 12px;
    width: 100%;
}

.level_select .slider{
    height: 7px;
    background-color: #5a5d64;
    width: 170px;
}

.level_select .slider::-moz-range-thumb, .level_select .slider::-webkit-slider-thumb{
    width: 5px; 
    height: 5px;  
    background: grey;
    cursor: pointer; 
}

.rollChance{
    position: relative;
    width: 390px;
    right: 150px;
    border-bottom: 33px solid rgb(0, 0, 0);
    border-right: 25px solid transparent;
    z-index: 1;

    height: 7px;
}

.rollChanceWrapper{
    display: grid;
    grid-template-columns: repeat(5, 50px);
    gap: 0px;

    padding-left: 150px;
    height: 100%;
    color: white;

    position: absolute;
    top: 15px;
}

.rollChanceWrapper > div{
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: smaller;
    gap: 3px;
}

.gold{
    position: relative;
    align-self: center;
    background: url("../images/UI_asset/goldBG.png") right no-repeat;
    height: 100%;
    width: 220px;
    right: 95px;
    padding-top: 5px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: larger;
    font-weight: bolder;
    gap: 0.25rem;
}


.lock{
    background: url("../images/UI_asset/lockOff.png") right no-repeat;
    width: 90px;
    height: 43px;
    margin-left: auto;
}


/*
{

        LOWER

}
*/

.lower{
    position: relative;
    height: 162px;
    box-sizing: border-box;
    border-left: 4px solid #6e5831;
    border-bottom: 4px solid #6e5831;
    border-right: 4px solid #6e5831;


    
    display: flex;
    flex-direction: row;
}

.lower:after{
    content: '';
    width: 75.6%;
    height: 5px;
    background-color: #826a39;
    position: absolute;
    top: -5px;
    left: 18.17%;

    z-index: 11;
}

.border{
    box-sizing: border-box;
    border: 2px solid rgb(15, 15, 16);
    position:absolute;
    height: 141px;
    width: 1357px;
}

.action{
    width: 234px;
    height: 100%;
    border: 4px solid rgb(21, 37, 40);
    box-sizing: border-box;
    background-color: rgb(14, 20, 22);
    color: white;
}

.action > div{
    position: relative;
    width: 100%;
    height: 50%;
}

.action > div img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
}

.action > div .top{
    position: absolute;
    top: 17px;
    left: 15px;

    font-weight: bolder;
    font-size: larger;

    margin: 0;
}

.action > div .text{
    height: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    font-size: 0.75rem;

    position: absolute;
    bottom: 15px;
    left: 15px;
}

.action > div .text img{
    position: relative;
    height: 0.75rem;
    width: 0.75rem;
}

.buyChampion{
    height: 100%;
    flex-grow: 1;
    border: 4px solid rgb(21, 37, 40);
    box-sizing: border-box;
    background-color: rgb(14, 20, 22);
    border-left: none;

    display: grid;
    grid-template-columns: repeat(5, 200px);
    justify-content: center;
    gap: 10px;
    padding: 3px;
}

.body{
    display: flex !important;
}



